ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  .create-button{
    padding: 10px;
    background-color: #6b1ca2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }